menu "Indexing Table Configuration"

config COMM_MQTT_BROKER_URL
string "COMM_MQTT Broker URL"
default "mqtt://broker.hivemq.com"
help
	URL of the broker to connect to

config COMM_MQTT_PASSWORD_PROTECTED

bool "COMM_MQTT Password Protected"
default false
help
	Enable password protection for MQTT

config COMM_MQTT_BROKER_USERNAME
string "COMM_MQTT Username"
default ""
depends on COMM_MQTT_PASSWORD_PROTECTED
help
	Username to use for authentication

config COMM_MQTT_BROKER_PASSWORD
string "COMM_MQTT Password"
default ""
depends on COMM_MQTT_PASSWORD_PROTECTED
help
	Password to use for authentication

config COMM_RS232_BUFFER_SIZE
int "COMM RS232 communication buffer Size"
range 128 4096
default 1024
help
	Size of the buffer for RS232

choice COMM_RS232_BAUDRATE
prompt "COMM RS232 communication baudrate"
default COMM_RS232_BAUDRATE_115200
help
	Baudrate for RS232

config COMM_RS232_BAUDRATE_9600
bool '9600'
config COMM_RS232_BAUDRATE_19200
bool '19200'
config COMM_RS232_BAUDRATE_38400
bool '38400'
config COMM_RS232_BAUDRATE_57600
bool '57600'
config COMM_RS232_BAUDRATE_115200
bool '115200'
endchoice

config COMM_RS232_BAUDRATE
int
default 115200 if COMM_RS232_BAUDRATE_115200
default 57600 if COMM_RS232_BAUDRATE_57600
default 38400 if COMM_RS232_BAUDRATE_38400
default 19200 if COMM_RS232_BAUDRATE_19200
default 9600 if COMM_RS232_BAUDRATE_9600

config COMM_ENABLE_LOCKS
bool "Enable locks for communication"
default true
help
	Enable locks to prevent concurrent access to the processing queue

config STEPPER_HAL_QUEUE_SIZE
int "Queue size for stepper HAL"
range 1 100
default 10
help
	Queue size for stepper HAL

config STEPPER_DEBUG
bool "Enable motor debug"
default n
help
	Enable debug messages for motor

config STEPPER_DEFAULT_SPEED
int "Default motor speed in RPM"
range 1 500
default 10
help
	Default speed of the motor in RPM

config STEPPER_MAX_SPEED
int "Maximum motor speed in RPM"
range 1 3000
default 1000
help
	Maximum speed of the motor in RPM

config STEPPER_H_STEP_COUNT
int "Horizontal motor rotation step count"
range 1 1000
default 200
help
	Number of steps to rotate one revolution the motor in horizontal axis, include mechanical reduction or microstepping

config STEPPER_H_PIN_ENDSTOP
int  "Horizontal motor endstop pin"
default  -1
range -1 100
help
	GPIO pin number of the endstop of the motor in horizontal axis, -1 for no endstop




config STEPPER_H_PIN_DIR
int "Horizontal motor GPIO connection direction pin"
range 0 100
default 23
help
	Horizontal motor GPIO connection for direction pin

config STEPPER_H_PIN_STEP
int "Horizontal motor GPIO connection for step pin"
range 0 100
default 22
help
	Horizontal motor GPIO connection for step pin

config STEPPER_H_PIN_SENSE
int "Horizontal motor GPIO connection for sense pin"
range 0 100
default 21
help
	Horizontal motor GPIO connection for sense pin

config STEPPER_T_STEP_COUNT
int "Tilt motor rotation step count"
range 1 1000
default 200
help
	number of steps to rotate one revolution the motor in tilt axis, include mechanical reduction or microstepping

config STEPPER_T_PIN_ENDSTOP
int  "Tilt motor endstop pin"
default  -1
range -1 100
help
	GPIO pin number of the endstop of the motor in tilt axis, -1 for no endstop

config STEPPER_T_PIN_DIR
int "Tilt motor GPIO connection for direction pin"
range 0 100
default 20
help
	Tilt motor GPIO connection for direction pin

config STEPPER_T_PIN_STEP
int "Tilt motor GPIO connection for step pin"
range 0 100
default 19
help
	Tilt motor GPIO connection for step pin

config STEPPER_T_PIN_SENSE
int "Tilt motor GPIO connection for sense pin"
range 0 100
default 18
help
	Tilt motor GPIO connection for sense pin

config STEPPER_MIN_SPINDLE_TIME
int "Minimum spindle time in ms"
range 1 100000
default 100
help
	Minimum time to wait between two steps in ms. Will give some delay for previous command to be read as it will be cleared by spindle.
endmenu
