pdfa.xmpi
.vim
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.asv
/# Excluded #
build/
_minted*
notes/FMCW theory
notes/Silicon radar SiRad Easy
*figure[0-9]*.dpth
*figure[0-9]*.md5
*figure[0-9]*.pdf
memoize.memo.dir
*.auxlock
*.xmpdata
