menu "Indexing Table Configuration"

config COMM_DEBUG
default n
bool "Enable debug for communication layer"
help
	Enable debug messages for  communication layer

config APP_DEBUG
default n
bool "Enable debug for aplication layer"
help
	Enable debug messages for application

config HAL_DEBUG
bool "Enable debug for hal layer"
default n
help
	Enable debug messages for hal layer


config COMM_RS232_BUFFER_SIZE
int "COMM RS232 communication buffer Size"
range 128 4096
default 2048
help
	Size of the buffer for RS232

choice COMM_RS232_BAUDRATE
prompt "COMM RS232 communication baudrate"
default COMM_RS232_BAUDRATE_115200
help
	Baudrate for RS232

config COMM_RS232_BAUDRATE_9600
bool '9600'
config COMM_RS232_BAUDRATE_19200
bool '19200'
config COMM_RS232_BAUDRATE_38400
bool '38400'
config COMM_RS232_BAUDRATE_57600
bool '57600'
config COMM_RS232_BAUDRATE_115200
bool '115200'
config COMM_RS232_BAUDRATE_115200
bool '115200'
endchoice

config COMM_RS232_BAUDRATE
int
default 115200 if COMM_RS232_BAUDRATE_115200
default 57600 if COMM_RS232_BAUDRATE_57600
default 38400 if COMM_RS232_BAUDRATE_38400
default 19200 if COMM_RS232_BAUDRATE_19200
default 9600 if COMM_RS232_BAUDRATE_9600

config STEPPER_YAL_QUEUE_SIZE
int "Queue size for stepper HAL"
range 1 100
default 10
help
	Queue size for stepper HAL

config STEPPER_MAX_SPEED
int "Maximum motor speed in RPM"
range 1 60
default 30
help
	Maximum speed of the motor in RPM

config STEPPER_Y_STEP_COUNT
int "Yaw motor rotation step count"
range 1 1000
default 200
help
	Number of steps to rotate one revolution the motor in yaw, include mechanical reduction or microstepping

config STEPPER_Y_PIN_ENDSTOP
int  "Yaw motor endstop pin"
default  10
range -1 100
help
	GPIO pin number of the endstop of the motor in yaw, -1 for no endstop


config STEPPER_Y_PIN_EN
int "Yaw motor GPIO connection enable pin"
range 0 100
default 6
help
	Yaw motor GPIO connection enable pin


config STEPPER_Y_PIN_STEP
int "Yaw motor GPIO connection for step pin"
range 0 100
default 23
help
	Yaw motor GPIO connection for step pin

config STEPPER_Y_PIN_SENSE
int "Yaw motor GPIO connection for sense pin"
range 0 100
default 22
help
	Yaw motor GPIO connection for sense pin

config STEPPER_Y_PIN_DIR
int "Yaw motor GPIO connection direction pin"
range 0 100
default 21
help
	Yaw motor GPIO connection for direction pin


config STEPPER_P_STEP_COUNT
int "Pitch motor rotation step count"
range 1 1000
default 200
help
	number of steps to rotate one revolution the motor in pitch, include mechanical reduction or microstepping

config STEPPER_P_PIN_ENDSTOP
int  "Pitch motor endstop pin"
default 11
range -1 100
help
	GPIO pin number of the endstop of the motor in pitch, -1 for no endstop

config STEPPER_P_PIN_EN
int "Pitch motor GPIO connection enable pin"
range 0 100
default 7
help
	Pitch motor GPIO connection enable pin

config STEPPER_P_PIN_STEP
int "Pitch motor GPIO connection for step pin"
range 0 100
default 20
help
	Pitch motor GPIO connection for step pin

config STEPPER_P_PIN_SENSE
int "Pitch motor GPIO connection for sense pin"
range 0 100
default 19
help
	Pitch motor GPIO connection for sense pin

config STEPPER_P_PIN_DIR
int "Pitch motor GPIO connection for direction pin"
range 0 100
default 18
help
	Pitch motor GPIO connection for direction pin


config STEPPER_MIN_SPINDLE_TIME
int "Minimum spindle time in ms"
range 1 100000
default 100
help
	Minimum time to wait between two steps in ms. Will give some delay for previous command to be read as it will be cleared by spindle.
endmenu


