CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y

CONFIG_ESPTOOLPY_FLASHSIZE_2MB=n
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

CONFIG_BT_ENABLED=n

CONFIG_PER_DEBUG=n
CONFIG_PER_I2C_SCAN_ENABLE=n
CONFIG_PER_I2C_SCAN_INTERVAL=60000
CONFIG_PER_TASKS_CHECK_ENABLE=n

CONFIG_TSK_SINGLETON_HEAP_SIZE=502

CONFIG_RTC_CLK_SRC_EXT_CRYS=y
CONFIG_RTC_EXT_CRYST_ADDIT_CURRENT_NONE=y

CONFIG_TME_SNTP_EXTENSION_ENABLE=y
CONFIG_TME_TIME_FETCH_INTERVAL=360
CONFIG_TME_SNTP_RETRY_COUNT=5
